<div *ngIf="user">
    <h2>{{user.name | uppercase}} Details</h2>
   
    <div>
        <mat-list role="list">
            <mat-list-item role="listitem">  <span>Id: </span>{{user.id}}</mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item role="listitem"> Name: {{user.name}}</mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item role="listitem"> Surname: {{user.surname}}</mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item role="listitem"> Telephone Nr: {{user.telNo}}</mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item role="listitem">  Address: {{user.address}}</mat-list-item>
            <mat-divider></mat-divider>
          </mat-list>
          
    </div>
    <br>
    <button mat-raised-button (click)="goBack()">go back</button>
  </div>